.grid {
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  display: grid;
  column-gap: 16px;
  grid-template-rows: auto 1fr;
  grid-template-columns: repeat(3, minmax(0, 1fr));

  align-items: stretch;
}

.column-1 {
  grid-column-start: 1;
  grid-column-end: 2;
}

.column-2 {
  grid-column-start: 2;
  grid-column-end: 3;
}

.column-3 {
  grid-column-start: 3;
  grid-column-end: 4;
}

.row-1 {
  grid-row-start: 1;
  grid-row-end: 2;
}

.tabs {
  display: flex;
  overflow-x: auto;
  scrollbar-width: none;
}

.tab {
  flex: 0 0 auto;
  font-size: 1rem;
  border: 0px;
  padding: 12px;
  border-bottom: 3px solid transparent;
}

.tab.active {
  border-bottom: 3px solid #000;
}

.header {
  display: flex;
  border-bottom: 1px solid #eee;
  align-items: stretch;
}

.header h1 {
  font-size: 1.5rem;
  margin: 0;
  padding: 4px 16px 0;
}

.active-line {
  background: red;
  width: 5px !important;
  margin-left: 3px;
}

.stacks {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.machine {
  max-height: calc(100vh - 64px);
  overflow: auto;
}
